<form action="/snake" method="GET">
	<input id="text" type="text" name ="name">
	<input type="submit">
</form>

<h2 id="code"></h2>
<button id="button">generate code</button>
<a id="my" href>proceed</a>
<script src="/uuid/uuidv4.js"></script>
<script src="js/imain.js"></script>
