<!DOCTYPE html>
<html>
	<head>
		<title>Snake game</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body id="body">
		<div id="scorecard">
			<h2>your score: <span id="your">0</span></h2>
			<h2>opponent's score: <span id="opponent">0</span></h2>
		</div>
		<h1 id="connection" ><%= name %></h1>
		<div id="container">
			<canvas id="myCanvas" width="1000" height="700" style="border:1px solid #000000;">></canvas>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>